<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="https://www.kset.org/static/frontend/images/favicon.ico" type="image/x-icon">
        <title>KSET AfterBruc - Pošalji poruku</title>
        <% if(locals.styles) { %>
            <% styles.forEach(({ link, tag }) => { -%>
                <link rel="stylesheet" href="<%- `${link}?v=${tag}` -%>">
            <% }) -%>
        <% } %>
    </head>
    <body>
        <div id="container" is="container">
            <h1 class="message-header">Pošalji poruku na AfterBrucifer!</h1>
            <div class="meta-data" is="meta-data">
                <span><%= rateLimiter.left -%> / <%= rateLimiter.max -%></span>
            </div>
            <form action="" method="POST" class="chat-message-form">
                <input maxlength="<%= $_settings.maxMessageLength -%>" name="text" placeholder="Pošalji poruku :)" type="text">
                <span></span>
                <input type="submit" value="Pošalji!">
            </form>
        </div>
        <% if(locals.scripts) { -%>
            <% scripts.forEach(({ link, href, tag }) => { -%>
                <script src="<%- `${link}?v=${tag}` -%>"></script>
            <% }) -%>
        <% } -%>
        <script>
            window.app = App(<%- JSON.stringify({ rateLimiter, maxMessageLength: $_settings.maxMessageLength }) -%>);
        </script>
    </body>
</html>
