<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>KSET AfterBruc overlay</title>
        <% if(locals.styles) { %>
            <% styles.forEach(({ link, tag }) => { -%>
                <link rel="stylesheet" href="<%- `${link}?v=${tag}` -%>">
            <% }) -%>
        <% } %>
    </head>
    <body>
        <%
        const now = new Date();
        -%>
        <div id="time"><%- `${String(now.getHours()).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}` -%></div>
        <div id="notification">
            <div class="title"></div>
            <div class="text"></div>
        </div>
        <div id="marquee"></div>
        <% const logo = $_images.get('logo').pop(); %>
        <img src="<%- logo.link -%>?v=<%- logo.tag -%>" alt="KSET logo" id="logo">
    </body>
    <% if(locals.scripts) { -%>
        <% scripts.forEach(({ link, tag }) => { -%>
            <script src="<%- `${link}?v=${tag}` -%>"></script>
        <% }) -%>
    <% } -%>
    <script>
        new Overlay(document.getElementById('marquee'), document.getElementById('time'));
    </script>
</html>
